body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container {
    width: 20%;
    margin: 20px auto;
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
    width: 95%;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3, h4 {
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"], textarea, input[type="file"], button {
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    height: 50px;
    resize: both;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.reply-link {
    text-align: right;
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
}

.pagination-links {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.post, .original-post, .reply {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
}

.post-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.post-file {
    margin-bottom: 10px;
}

.post-details {
    width: 100%;
}
